<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Blog</title>
</head>
<body class="container">
    <form method="POST" action="create/">
        {% csrf_token %}
        <p>
            <label>Введите заголовок</label><br>
            <input type="text" name="title" />
        </p>
        <p>
            <label>Введите текст</label><br>
            <input type="text" name="text" />
        </p>
        <p>
            <label>Укажите файл картинки:</label><br>
            <input type="file" name="image" />
        </p>
        <input type="submit" value="Сохранить" >
    </form>
    {% if posts.count > 0 %}
    <h2>Список постов</h2>
    <table>
        <tr><th>Id</th><th>Заголовок</th><th width="50%">Текст</th><th>Картинка</th></tr>
        {% for post in posts %}
        <tr><td>{{ post.id }}</td><td>{{ post.title }}</td><td>{{ post.text }}</td><td><img height="50" width="50" src="{{ post.image.url }}"></td></tr>
        {% endfor %}
    </table>
    {% endif %}
</body>
</html>